body {
    background-color: lightgray;
    margin: 0px;
    
}

.flex {
    display: flex;
    flex-flow: row wrap;
   /* flex-direction: row;
   flex-wrap: wrap; */
    /* justify-content: space-around;
    align-items: flex-start;
    align-content: stretch; */
    height: 200px;
} 

.elemento{
   order: 0;
   flex-grow: 1;
   flex-basis: 20px;
   align-self: center;
}

.elemento2{
 flex: 1 0 100px;
 align-self: center;
}