body{
    background-color: graylight;
    margin: 0px;
}

.grid{
    
    /* display: grid;
    grid-template-columns: repeat(3, [inicio] 1fr [fin]);
    grid-template-rows: repeat(2, [inicio] 50px [fin]);
    grid-gap: 10px 10px; */
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    
    grid-gap: 5px;
    justify-content: center;

}

.grid div{
    background-color: red;

}

/* .header{
    grid-column: inicio  / fin 3;
    grid-row: inicio / fin 2;
} */