/* #parrafo {
    color:aqua
}

.etiqueta {
    font-weight: bold;
    font-size: 20px;
} */

body {
    background-color: lightgray;
 
 }
 .cabecera {
    background-color: white;
    text-align: left;
    padding: 10px;
    border: outset white 1px;
    
 }
  .contenido {
    background-color: white;
    text-align: left;
    padding: 10px;
    border: outset white 1px;
    
 }

 .boton {
    background-color: white;
    color: white;
    padding: 10px;
 }

 #Boton1 {
    background-color: rgb(0, 139, 219);
    border: 0px;
    padding: 2px 5px;
    
    color: white;
 }
 #Boton2 {
    background-color: lightgray;
    color: white;
    border: 0px;
    padding: 2px 5px;
 }

 .caja1 {
    border: 2px outset lightgrey;
   border-radius: 2px;
   border-top: solid 0px;
 }